/* Original styles */
.navbar {
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    justify-content: space-between;
    padding-left: 2%;
    padding-right: 2%;
    background: var(--main-color1);
    color: white;
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;

    display: flex;
    align-items: center;
    z-index: 1000;
}

.navbar-content {
    flex: 70%;
    justify-content: right;
    padding-right: 7%;
    height: 100%;
    align-items: center;
    display: flex;
    gap:4%;


}

.navbar-logo {
    display: flex;
    flex: 15%;
    align-items: center;
    justify-content: center;
}

.navbar-button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 15%;
}

.navbar-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px; /* Adjust height as needed */
    width: 110px;
    /*border-radius: 30px;*/
    cursor: pointer;
    margin-left: 120px; /* Add margin to the button container for spacing */

}

/*
user profile icon 
.navbar-button i {
    margin-right: 5px;
    font-size: 1.2rem; 
}*/



/* Hide hamburger on large screens */
.navbar-hamburger {
    display: none;
}




/* Styling for the main sub-menu */
.knowledge-hub-menu {
    position: relative;

    display: inline-block;
  }
  
  .sub-menu {
    display: none; /* Initially hidden */
    position: absolute;
    top: 100%;
    left: 0;

    z-index: 1;
    min-width: 140px;
    padding: 10px;
  }
  
  .knowledge-hub-menu:hover .sub-menu {
    display: block; /* Show on hover */
  }
  
  .sub-menu-item {/*fornt and back office*/
    padding: 8px 12px;
    background:var(--main-color1);
    cursor: pointer;

    position: relative;
  }
  
 
  
  /* Nested sub-menu */
  .nested-sub-menu {
    display: none;
    position: absolute;
    top: 0;
    left: 150px; /* Adjust distance from the parent menu */
    background:var(--main-color1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 2;
    min-width: 180px;
    height: 50px;
  }
  
  .sub-menu-item:hover .nested-sub-menu {
    display: block; /* Show nested sub-menu on hover */

  }
  
  .nested-sub-menu .sub-menu-item {
    padding: 8px 12px;
    color: white;
  }
  
  .nested-sub-menu .sub-menu-item:hover {
    background-color: #dedcdc;
}







