/* Header Section */
.roadmap-header {
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    position: relative;
}

.header-content {
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.5); /* Transparency for readability */
}

.header-title {
    font-size: 2.4rem;
    margin: 0;
    font-weight: bold;
}

.header-description {
    font-size: 1.1rem;
    margin-top: 10px;
}

/* Introduction Section */
.roadmap-intro {
    background-color: #f7f7f7; /* Light background for contrast */
    text-align: center;
    padding: 30px 20px;
    margin: 20px auto;
    border-radius: 8px;
    max-width: 800px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.roadmap-intro-title {
    font-size: 2rem;
    font-weight: bold;
    color: #2a2a72;
    margin-bottom: 10px;
}

.roadmap-intro-text {
    font-size: 1.1rem;
    color: #555;
    line-height: 1.6;
    margin: 0;
}


/* Roadmap Section */
.roadmap-section {
    padding: 50px 20px;
    background-color: #f5f5f5;
    position: relative;
}

.roadmap-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
    position: relative;
}

.roadmap-item.left {
    flex-direction: row-reverse;
}

.roadmap-content {
    flex: 1;
    background: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 2;
    margin: 0 15px;
    transition: transform 0.2s, box-shadow 0.2s;
    font-size: 0.9rem; /* Reduced font size */
}

.roadmap-content:hover {
    transform: scale(1.03);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.roadmap-content:before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #cb2d2d;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
    right: -5px;
}

.roadmap-item.left .roadmap-content:before {
    left: -5px;
    right: auto;
}

.roadmap-year {
    font-size: 1.6rem;
    color: #2a2a72;
    margin-bottom: 8px;
    font-weight: bold;
}

.roadmap-event {
    font-size: 1.2rem;
    font-weight: bold;
    color: #cb2d2d;
    margin-bottom: 8px;
}

.roadmap-description {
    font-size: 0.9rem; /* Reduced font size */
    color: #555;
    line-height: 1.4;
}

/* Roadmap Image */
.roadmap-image {
    flex: 1;
    height: 230px; /* Reduced height */
    width: 100px; /* Adjusted width */
    background-size: cover;
    background-position: center;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.roadmap-image:hover {
    transform: scale(1.05);
}

/* Connecting Line */
.roadline {
    position: absolute;
    left: 50%;
    top: 0;
    bottom: 0;
    width: 3px;
    background: #cb2d2d;
    transform: translateX(-50%);
    z-index: 1;
}
