/* slick slider CSS */
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

/* slick slider CSS */
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

/* Original styles */
.home-main-page {
  margin-top: 60px;
  width: 100%;
  height: 91vh;
  display: flex;
  align-items: center;
  justify-content: center;
}


.home-main-page-left {
  width: 45%;
  height: 70%;
  font-family: "Holtwood One SC", serif;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  justify-content: center;
  margin-left: 4%;
}


/* Hero Section Styles */
.hero-section {
  position: relative;
  height: 80vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: #f4f4f4; /* You can adjust this color */
}

.hero-text {
  position: absolute;
  z-index: 1;
  text-align: center;
  color: white;
}

.hero-text h1 {
  font-size: 5vw;
  font-weight: bold;
}

.hero-text p {
  font-size: 1.5rem;
}

.hero-slider {
  width: 100%;
}

.hero-image-container {
  height: 100%;
}

.hero-image {
  width: 100%;
  height: 80vh;
  object-fit: cover;
}

/* slick dots customization */
.slick-dots li button:before {
  color: white;
}
.hero-image {
  width: 100%;
  height: 60vh;
  object-fit: cover;
}

/* slick dots customization */
.slick-dots li button:before {
  color: white;
}

.search {
  background-image: linear-gradient(
    to right,
    var(--main-color1),
    var(--main-color2)
  );
  height: 60vh;
}

.search-container { 
  height: 100%; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.konnect1 {
  font-family: konnect, sans-serif;
  font-style: normal !important;
  color: var(--main-color1);
  font-weight: 200;
  font-size: 200%;
}

.konnect2 {
  font-family: konnect, sans-serif;
  font-weight: 700;
  color: var(--main-color3);
  font-size: 250%;
}



.search-input-container {
  margin-top: 5px;
  width: 35%;
}

.search-input {
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: 30px;
  border: solid var(--main-color1);
  border-radius: 15px;
  padding-left: 20px;
}