.hub-page-hero {
  height: 500px;
  overflow: hidden; /* Prevent overflow */
}

.hub-page-hero-left-half {
  display: flex; /* Use flexbox for centering */
  flex-direction: column; /* Stack the titles vertically */
  justify-content: center; /* Center vertically */
  align-items: center; /* Center horizontally */
  height: 100%; /* Match the parent container's height */

}

.hub-page-hero img {
  height: auto;
  width: 100%;
  object-fit: contain; /* Ensures the image fits without cropping */
}

.hub-page-hero-side {
  color: var(--main-color1);
  font-size: 65px;
  font-family: 'Konnect', 'Sans Serif';
  margin-bottom: 10px; /* Optional: spacing below the text */
  position: relative; /* Required for positioning the line */
}

.hub-page-hero-side::after {
  content: "";
  display: block;
  width: 35%; /* Line spans the full width of the text */
  height: 5px; /* Thickness of the line */
  background-color: var(--main-color3); /* Match the main color */
  margin: 0px auto 0; /* Centers the line */
}

.hub-page-hero-title {
  color: var(--main-color1);
  font-size: 60px;
  font-weight: bold;
  font-family: 'Konnect', 'Sans Serif';
  text-align: center;
}

.hub-page-content{
  background-image: url("../assests/BackgroundMainBig.png");
  background-size: cover;
height: auto;
padding: 50px;

}

.hub-page-resources {
  display: flex;
  flex-wrap: wrap;               /* Allow items to wrap when necessary */
  justify-content: center; 
  align-items: center;
    /* Align items to the left (optional) */
}

.hub-page-resource-item {
  background-color: var(--main-color2);
  border-radius: 15px;
  padding: 30px 20px!important;
  text-align: left;
  align-items: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  
}


.hub-page-title{
  font-weight: bold;
  color: var(--main-color1);
  font-size: 2.5em;
  margin: 50px;
  text-align: center;
}
.hub-page-title::after {
  content: "";
  display: block;
  width: 25%; /* Line spans the full width of the text */
  height: 5px; /* Thickness of the line */
  background-color: var(--main-color3); /* Match the main color */
  margin: 10px auto 0; /* Centers the line */
}
.hub-page-resource-item a{
  text-decoration: none;
}
.hub-page-resource-title{
  font-weight: bold;
  font-size: 20px;
}