.knowledgehub {
  margin-top: 60px;
  background-image: linear-gradient(to right, var(--main-color1), var(--main-color2));
  background-size: cover;
  position: relative;
}

.upperimage {
  width: 100%;
}


.knowledgehub-upper {
  position: relative;
  height: 91vh;
}

.knowledgehub-upper-text-image-container {
  position: absolute;
  top: 39%;
  left: 47%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: row;
  column-gap: 80px;
  margin: auto 5%;
  align-items: center;
  justify-content: center;
}

.upper-text-container {
  flex: 65%;
}

.upper-image-container {
  flex: 35%;
  height: 100%;
  align-items: center;
  justify-content: center;
  position: relative;
  display: inline-block;
}

.ellips-image {
  position: absolute;
  top: 5%;
  z-index: -1;
  left: -10%;
  max-width: 120%;
}

.back-office-title {
  text-align: center;
  font-size: 36px;
  margin-bottom: 30px;
  color: #387adf;
}
.back-office-title::after {
  content: "";
  display: block;
  width: 10%; 
  height: 5px; 
  background-color: var(--main-color3); 
  margin: 0px auto 0; 
}

.departments-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  gap: 20px; 
  justify-content: center;
}


.department {
  display: flex;
  flex-direction: row; 
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  align-items: flex-start; 
  padding: 10px; 
  text-align: left;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); 
  gap: 40px; 
  max-width: 450px;
  margin: 10px auto; 
}


.department-icon {
  width: 80px; 
  height: 90px;
  object-fit: contain;
  flex-shrink: 0;


.department-content {
  flex: 1; 
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-top: 70px;
}

.line1 {
  position: absolute;
  top: 25%;
  left: -15%;
  right: 0;
  transform: rotate(-5deg);
  z-index: 0;
  overflow: hidden;
}


.line2 {
  overflow: hidden;
  position: absolute;
  top: 70%;
  left: -15%;
  right: 0;
  transform: rotate(-5deg);
  z-index: 0;
}
.front-office-section {
  padding: 40px 20px;
  background-color: #387adf;
  color: white;
  font-size: 350%;
  margin-bottom: 50px;
}

.middle-part-content-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  padding: 0 5%;
  column-gap: 10%;
  row-gap: 10%;
  margin-bottom: 100px;
}

.card {
  min-height: 180px;
  min-width: 100px;
  z-index: 1;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  text-align: center;
  font-size: 36px;
  margin-bottom: 30px;
}
.front-office-title::after {
  content: "";
  display: block;
  width: 10%; 
  height: 5px; 
  background-color: var(--main-color3);
  margin: 0px auto 0; 
}}