.mctunsia {
  margin-top: 60px;
  background-image: linear-gradient(to right, var(--main-color1), var(--main-color2));
  background-size: cover;
  position: relative;
}

.carousel-container {
  width: 100%;
}

.mc-carousel-card {
  overflow: hidden;
  position: relative;
  max-height: 412px;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
}

.mc-position {
  font-family: "Konnect-bold", sans-serif;
  font-weight: 900;
  position: absolute;
  width: 80%;
  border-radius: 8px;
  bottom: -5%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(255, 255, 255); /* White background with opacity */
  padding: 10px;
}

.mc-carousel-card img {
  border-radius: 20px;
  width: 412px;
  height: auto;
  margin: 0 15px;
}

.mc-image {
  display: block;
  max-width: 270px;
}

.middle-container-mc {
  max-width: 150vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 70px;
}

.mc-stand {
  font-family: "Konnect-reg", sans-serif;
  color: white;
  margin-bottom: 80px;
}

.middle-part-content-container-mc {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; /* Three equal-width columns */
  grid-gap: 50px;
  margin: 0 120px;
  margin-bottom: 112px;
}

.middle-mc-card {
  min-height: 440px;
  min-width: 344px;
  border-radius: 20px;
  padding: 20px;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: var(--red);
  font-family: "Holtwood One SC", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 150%;
  background-color: white;
}

.mc-card-content {
  margin-top: 77px;
  font-family: "Lato", serif;
  color: black;
  font-size: 16px;
}

.middle-part-title-mc {
  font-family: konnect, sans-serif;
  font-weight: bold;
  color: white;
  font-size: 350%;
  margin-bottom: 50px;
}

.middle-part-subtitle-mc {
  font-family: "Konnect-thin", sans-serif;
  color: white;
  font-size: 24px;
  margin-bottom: 50px;
}

.image-container {
  display: inline-block;
  padding: 20px; /* Adjust padding to control border thickness */
  background: linear-gradient(45deg, #e70013, #ff5664); /* Gradient background */
  border-radius: 50px; /* Optional: Adds rounded corners to the border */
  transform: rotate(-10deg);
  margin-bottom: 100px;
}

.upperimage {
  width: 100%;
}

.navbar {
  z-index: 2;
}

.mctunsia-upper {
  position: relative;
  height: 91vh;
}

.mctunsia-upper-text-image-container {
  position: absolute;
  top: 39%;
  left: 47%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: row;
  column-gap: 80px;
  margin: auto 5%;
  align-items: center;
  justify-content: center;
}

.upper-text-container {
  flex: 65%;
}

.upper-image-container {
  flex: 35%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.mctunsia-text-type1 {
  color: var(--red);
  font-size: 500%;
  margin-bottom: -15px;
  font-family: "Holtwood One SC", serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.4;
}

.hubhub {
  column-gap: 25px;
}

.mctunsia-text-type2 {
  background-image: linear-gradient(to right, var(--main-color1), var(--main-color2));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 180%;
  font-family: "Holtwood One SC", serif;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  line-height: 1.3;
  word-spacing: 3px;
  letter-spacing: 0.5px;
}

.mctunsia-text-type2-container {
  margin-top: 15px;
}

@media (max-width: 1250px) {
  .mctunsia-upper-text-image-container {
    flex-direction: column;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    row-gap: 20px;
  }

  .upper-text-container {
    flex: none;
  }

  .upper-image-container {
    flex: none;
  }

  .mctunsia-text-type1 {
    font-size: 250%;
  }

  .middle-part-content-container-mc {
    grid-template-columns: 1fr; /* Single column for small screens */
    margin: 0 20px;
    margin-bottom: 50px;
  }

  .middle-mc-card {
    min-height: auto;
    min-width: auto;
  }

  .mc-card-content {
    margin-top: 20px;
  }

  .middle-part-title-mc {
    font-size: 200%;
  }

  .middle-part-subtitle-mc {
    font-size: 20px;
  }


  

 
}

/* Media Queries for smaller screens */
@media (max-width: 768px) {
  .mctunsia-upper-text-image-container {
    flex-direction: column;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    row-gap: 20px;
  }

  .upper-text-container {
    flex: none;
  }

  .upper-image-container {
    flex: none;
  }

  .mctunsia-text-type1 {
    font-size: 250%;
  }

  .middle-part-content-container-mc {
    grid-template-columns: 1fr; /* Single column for small screens */
    margin: 0 20px;
    margin-bottom: 50px;
  }

  .middle-mc-card {
    min-height: auto;
    min-width: auto;
  }

  .mc-card-content {
    margin-top: 20px;
  }

  .middle-part-title-mc {
    font-size: 200%;
  }

  .middle-part-subtitle-mc {
    font-size: 20px;
  }

  
  
}

@media (max-width: 480px) {
  .mctunsia-upper-text-image-container {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    flex-direction: column;
  }

  .middle-part-title-mc {
    font-size: 150%;
  }

  .middle-part-subtitle-mc {
    font-size: 18px;
  }

  .mctunsia-text-type1 {
    font-size: 200%;
  }

  .middle-part-content-container-mc {
    margin: 0 10px;
  }

  .mc-card-content {
    font-size: 14px;
  }

 
}
