/* General Styles */
body {
  
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
 
  .banner {
    position: relative;
    height: 50vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: #ffffff;
  }
  .banner img {
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
  }
  .banner h1 {
    font-size: 3rem; 
    background: linear-gradient(to right, gray, #0056b3); 
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent; 
    text-align: center;
  }
  
  
  .back-section {
    background-image: url("../assests/BackgroundMain.png");
    background-size: cover;
    background-position: center;
    padding:70px 20px;
    background-color: #f9f9f9;
  }
  
  .back-title {
    text-align: center;
    font-size: 36px;
    margin-bottom: 30px;
    color: #387adf;
  }
  .back-title::after {
    content: "";
    display: block;
    width: 15%; 
    height: 5px;
    background-color: var(--main-color3);
    margin: 0px auto 0; 
  }
  
  .dep-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px; 
    justify-content: center;
  }
  
  
  .dep {
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    align-items: center; 
    padding: 20px; 
    text-align: center;
    min-width: 350px;
    max-width: 350px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); 

    max-width: 450px; 
    margin: 10px auto; 
  }
  
  

  
 */
  .dep-content {
    flex: 1; 
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
  }
  
 
  .dep-title {
    font-size: 18px; 
    margin-bottom: 8px; 
    color: #333;
  }
  
  
  .dep-description {
    font-size: 14px; 
    color: #666;
    margin-bottom: 8px; 
  }
  
  
  .read-more {
    color: #0056a4;
    text-decoration: none;
    font-weight: bold;
    align-self: center; 
    font-size: 14px; 
  }
  
  